<div fxLayout="column">
    <a routerLink='/new' routerLinkActive="active">
        <img alt="new reservation" height="40" width="40" src="../../../assets/add-boat-icon.svg">
        <span>New reservation</span>
    </a>

    <a routerLink='/start' routerLinkActive="active">
        <mat-icon>commute</mat-icon>
        <span>Start trip</span>
    </a>

    <a routerLink='/end' routerLinkActive="active">
        <img alt="return boat" height="40" widt="40" src="../../../assets/return-boat-icon.svg">
        <span>return boat</span>
    </a>
</div>